.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    margin-right: 10px;
}

.shortner-url-date {
    font-size: 14px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.newtab {
    height: 15px;
    padding-left: 2%;
    cursor: pointer;
    padding-right: 2%;
}

.shortened-text {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    font-weight: bold !important;
    font-size: 18px !important;
  }
 

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  